.head h1{
    font-size: 50px;
    color: green;
}
.head img{
    margin-top: 10px;
    height: 250px;
    width: 250px;
}
.head p{
    margin-top: 10px;
    font-size: 15px;
    color: green;
}
.ques p{
    font-size: 15px;
    font-weight: 500px;
}