.topnav {
  background-color: #155228;
  overflow: hidden;
  height: 8%;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(29, 94, 49);
}
.top {
  overflow: hidden;
  background-image:url(sear.jpg);
  height:300px; 
}
.top p{
  color:white;
  text-align: center;
  font-size:80px;
}

/* Style the search box inside the navigation bar */
.top input[type=text] {
  margin-left:30%;
  padding: 10px;
  border:black;
  margin-top: 20px;
  width:50%;
  margin-right: 16px;
  font-size: 25px;
}
.image2-grid{
  display: -grid;
  grid-template-columns: repeat9auto-fit,minmax(270px,1fr));
  background-color: white;
  gap:15px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
 }
.image2-grid .container img{
  height:150px;
 }
 .image2-grid .container{
  box-shadow:0 5px 10px black;
  border-radius:5px;
  background:white;
  text-align:center;
  padding:30px 20px;
 }